<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.phonegap.example"
	version   = "1.0.1">
	<name>Buscador de Laminas Escolares</name>
	<description>
		Encuentra tu lamina rapido y seguro sin internet instalando el app en tu celular o tablet.
	</description>
	<author href="http://www.soporte.website" email="llavillaccama@gmail.com">
		Julio Cesar Llavilla Ccama
	</author>
	<icon src="icon.png" />
	<content src="index.html" />
	<access origin="*" />
	<gap:plugin name="org.apache.cordova.inappbrowser"/>
<plugin name="org.apache.cordova.network-information" spec="0.2.15" source="pgb" />
<plugin name="org.apache.cordova.file-transfer" spec="0.4.6" source="pgb" />

</widget>
